#educator-1 {
  margin-right: 160px;
}

#educator-2 {
  margin-right: 160px;
}

#caring-time-title-caregiver {
  font-size: 25px;
}

#caring-times-info-caregiver {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  height: 250px;
  border-style: solid;
  width: 700px;
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.justify-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
}

#name {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#caregiver-info {
  margin-top: 80px;
  margin-left: 250px;
  margin-right: 250px;
}

.register-change-button {
  font-size: 18px;
  width: 100px;
  height: 50px;
}
