#caring-time-form {
    background: var(--dark);
    padding: 40px;
    width: 600px;
    height: 500px;
}

.caring-time-picker {
    display: flex;
    margin-top: 15px;
}

#days-checkboxes {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}

#days-checkboxes {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}


.time-picker-start {
    text-align: center;
    margin-right: 20px;
}

.time-picker-end {
    text-align: center;
}

.buttons-modal {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.time-pickers {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

#margin-top{
    margin-top: 80px;
}

.react-time-picker__wrapper{
    background-color: var(--light);
}