#caring-times-info {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rendered-address {
  display: flex;
  width: 400px;
  margin-bottom: 10px;
}

.caregivers-info {
  display: flex;
  flex-direction: row;
}

.caregivers-container {
  background-color: var(--dark);
  border-radius: 10px;
  width: 550px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 30px;
  margin-bottom: 20px;
}

.caring-time-container {
  display: flex;
  flex-direction: column;
}

.rendered-info-space {
  display: flex;
  flex-direction: column;
  width: 350px;
  font-size: 20px;
  font-family: Lato;
  color: #36130e;
}

.space {
  padding: 5px
}