#educator-child-info {
  display: flex;
}

#child-city {
  margin-bottom: 20px;
}

#caring-times-info {
  display: flex;
  margin-top: 20px;
}

#week-days {
  margin-right: 20px;
}

#child-info {
  margin-top: 80px;
  margin-left: 300px;
}

#rendered-address {
  display: flex;
  width: 400px;
  margin-bottom: 10px;
}