#educator-child-info {
  display: flex;
}

#child-city {
  margin-bottom: 20px;
}

#caring-times-info {
  display: flex;
  margin-top: 20px;
}

#child-info {
  margin-top: 50px;
  margin-left: 200px;
}

.rendered-address {
  display: flex;
  width: 400px;
  margin-bottom: 10px;
}

