/* .app {
  min-height: 100vh;
  background: rgb(91, 187, 219);
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

/* .tweet {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 300px;
  background: white;
} */

/* .red {
  color: red;
  font-size: 50px;
}
 */

#welcome {
   display: flex;
   justify-content: space-around;
   padding-top: 200px;
}

#logInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#username {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
}

#password {
  display: flex;
  flex-direction: column;
}

#logInButton {
 display: flex;
 justify-content: center;
 margin: auto;
 margin-top: 50px;
 padding-left: 40px;
 padding-right: 40px;
 padding-top: 10px;
 padding-bottom: 10px;
 text-align: center;

}